*{
  margin: 0;
  padding: 0;
  }
  body{
    background-color: rgb(255, 252, 252);
  }
#nameHeader{
  display: flex;
  padding: 1em;
}
h1{
  margin: auto;
}
#forms{
  display: flex;
  justify-content: center;
}
#devForms input, textarea{
  width: 60vw;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 500px;
  border-radius: 3px;
  border: 1px solid #152533;

}
#formmbtn{

  
  margin-bottom: 10px;
}
#formmbtn button{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #011627ee;
  color: #f5f9e9f5;
}

h2{
  color: #000d18;
  font-weight: 500;
  font-size: 1.5rem;
}
.d-flex{
  background-color: #000d18;
}
.container li, a, svg{
  color: aliceblue;
}
#forms{
  margin-top: 40px;
}
#nameHeader{
  padding: 25px;
  background-color: white;
  box-shadow: 0px  1px 5px #9a9996;
}
#contenderCards{

  max-width: 500px;
  box-shadow: 0px  1px 2px #9a999686;
  margin-bottom: 15px;
  border-radius:  06px;
  border: #000d1836 1px solid;

}
.btn{
  background-color: #c41616;
  border: none;
  width: 30%;
  
}
.card-title{
  color: #152533;
  text-align: left;
}
#formmbtn button:hover{
  background-color: #083d6e;
}
#FeitoId{
  margin-right: 10px;
  background-color: #115343;
}
#FeitoId:hover{
  background-color: #083d6e;
}
#SectionCard{

  margin:40px auto;
max-width: 500px;
  width: 32rem;

}
.card-text{
  text-align: left;
}
#SectionButton{
  display: flex;


}
#titleCard{
  display: flex;
  justify-content: space-between;
}
#titleCard p{
  font-size: 0.7rem;
  font-weight: 400;
}